html,body{
    background-color:azure;
    margin: 0px;
    padding: 0px;
    height: 100%;
    }
.main {
    display: flex;
}
.header{
    border: 2px solid black;
    margin: 0px 5px 15px 20px;
    border-radius: 20px;
    display:flex;
    width: 1460px;
    background-color: lightgrey;
}
#whiteboard{
    display:inline-block;
    margin-left: 10px;
    border-radius: 10px;
    width: 1200px;
    border: 2px solid black;
    background-color:white;
}
#draw{
    width: 200px;
    height: 40px;
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    padding-top: 2px;
}
#option{
    width: 200px;
    height: 40px;
    background-color: darkgreen;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    padding-top: 2px;

}
h1{
    display:inline-block;
    margin-left: 400px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}
.sidebar{
    margin-left: 20px;
    align-items: center;
    width: 250px;
    height:700px;
    border-radius: 20px;
    border: black solid 2px;
    padding: 20px;
    padding-top: 30px;
    background-color: lightgrey;
}

.header .buttons{
    margin-top: 10px;
    border-radius: 20px;
    background-color:darkgoldenrod;
    color: white;
    width: 80px;
    height: 60px;
    font-size: 20px;
    margin-left: 10px;

}
.buttons:hover{
    background-color: lightslategray;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px darkgray;
}
.header .buttons:hover{
    background-color:dimgray;
    cursor: pointer;
    box-shadow: 5px 5px 0px 5px darkgray;
}
.buttons
{
    margin-bottom: 5px;
    border-radius: 30px;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    width: 140px;
    height: 35px;
    font-size: 20px;
    margin-left: 30px;
}
.labels{

margin: 0px;
padding: 0px;
display: flex;
}
h3{
    margin: 0px;padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.options{
    margin-top: 8px;
}
.options .buttons{
    height:40px;
    width: 160px;
    margin-left: 20px;
    background-color:darksalmon;
    margin-bottom: 8px;
}
.options .buttons:hover{
    background-color: wheat;
}
#copy:hover{
background-color: lightblue;
}
.file{
    display:flex;
}
.file .buttons{
    margin-left: 5px;
    width: 60px;
    height: 50px;
    border-radius: 50px;
    background-color: darkorange;
    margin-bottom: 2px;
}
.file .buttons:hover{
    cursor: pointer;
    background-color: yellowgreen;

}
.buttons:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}